.highScoreTable {
  justify-content: space-around;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  border-left: 5px solid #39ff14;
  border-bottom: 5px solid #39ff14;
  border-right: 5px solid #39ff14;
  border-top: 5px solid #39ff14;

  border-radius: 10px; /* Rounded corners */
  /*border-bottom-left-radius: 10px;*/
}

.highScores {
  justify-content: center;
}

.highScoreTableInitials {
  font-family: "Halogen by Pixel Surplus", monospace;
  text-align: right;
  background-color: black;
  color: white;
  font-size: 2rem;
}

.highScoreTableChar {
  font-family: "Halogen by Pixel Surplus", monospace;
  text-align: left;
  background-color: black;
  color: white;
  font-size: 2rem;
}

.buttons {
  position: fixed;
  bottom: 10rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.backToMap {
  position: fixed;
  left: 2.5rem;
  background-color: black;
  color: #39ff14;
}

.tryAgain {
  position: fixed;
  right: 2.5rem;
  background-color: black;
  color: #39ff14;
}

.backToCharacter {
  position: fixed;
  left: 50%;
  transform: translateX(-45%); /* Centers the button */
  background-color: black;
  color: #39ff14;
}
