.btn-container {
  background-color: white;
  border-radius: 0.5rem;
  bottom: 0;
  right: 0;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  width: 5vw;
  height: 32vh;
  margin-right: 1vw;
  position: absolute;
  z-index: 3;
  align-items: center;
  box-shadow:
    0 14px 21px -5px rgba(0, 0, 0, 0.1),
    0 5px 26px 4px rgba(0, 0, 0, 0.07),
    0 8px 38px 7px rgba(0, 0, 0, 0.06);
}
